@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400;1,500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
table{
    width: 90%;
    border-collapse: collapse;
    background-color: #CE93D8;
}
th{
    font-size: 19px;
    background-color: #4A148C;
    color: #F3E5F5;
}
td, th{
    padding: 4px;
    border-bottom: 1px solid #4A148C;
   
}
section{
    background-color: #F3E5F5;
    width: 90%;
    margin: auto;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    padding: 5px;
    background-color: #4A148C;
    text-align: center;
    color: white;
}
nav, h2{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}
input[type="text"],input[type="number"] {
    border: none;
    font-size: 18px;
    border-bottom: 1px solid #4A148C;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    background-color: transparent;
}
input[type="submit"]{
    background-color: #4A148C;
    color: white;
    border: none;
    margin-top: 28px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
h1{
    padding: 15px;
    width: 87%;
    background-color: #4A148C;
    font-weight: bold;
    color: white;
}



